.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
  margin: 10px 0;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0 !important;
    transition: opacity 0s;
  }

  .divider {
    position: absolute;
    top: 50%;
    bottom: 50%;
    border-bottom: 1px solid gray;
    right: 2%;
    left: 2%;
    width: 95%;
    z-index: -1;
  }

  .add-buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 0 20px;
    }
  }
}

.add-cell.force-visible {
  opacity: 1;
}
